.App {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  background-color: #282c34;
  border-bottom: 1px solid black;
  height: 10vh;
}

.Header-text {
  position: absolute;
  top: 0;
  left: 5%;
  font-size: calc(10px + 2vmin);
  color: white;  
}

.App-body {
  height: 80vh;
  text-align: center;
  background-color: lightgray;
}

.Body-text {
  font-size: 80px;
}

.Body-text-sub {
  font-size: 40px;
}

.Button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.App-footer {
  height: 10vh;
  text-align: center;
  background-color: #282c34;
  border-top: 1px solid black;
  color: white
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

@media only screen and (max-width: 600px) {
  .Body-text {
    font-size: 40px;
  }
  .Body-text-sub {
    font-size: 20px;
  }

  .App-footer {
    font-size: calc(5px + 2vmin);
  }
  
  .modal {
    width: 60vw;
    height: 70vh;
    background-color: white;
    border: 2px solid black;
  }

  .modal > .header, .secondModal > .header {
    width: 100%;
    font-size: calc(10px + 2vmin);
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .modal > .content {
    width: 100%;
    padding-top: 3vh;
    padding-left: 3vh;
  }
  
  input {
    width: 45vw;
    line-height: 2vh;
  }
  
  .Submit, .secondModal > .close {
    width: 49vw;
    line-height: 2vh;
    align-items: center;
    justify-content: center;
  }
  
  .secondModal {
    width: 60vw;
    height: 50vh;
    background-color: white;
    border: 2px solid black;
  }
  
  .secondModal > .content {
    font-size: calc(5px + 2vmin);
    padding-top: 3vh;
    text-align: center;
    padding-bottom: 3vh;
  }
  .secondModal > .close {
    width: 100%;
  }
  
  
  .Message {
    font-size: calc(5px + 2vmin);
  }  
}

@media only screen and (min-width: 600px) {
  .Body-text {
    font-size: 50px;
  }
  .Body-text-sub {
    font-size: 25px;
  }

  .App-footer {
    font-size: calc(3px + 2vmin);
  }
  
  .modal {
    width: 60vw;
    height: 70vh;
    background-color: white;
    border: 2px solid black;
  }
  .modal > .header, .secondModal > .header {
    width: 100%;
    font-size: calc(10px + 2vmin);
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .modal > .content {
    width: 100%;
    padding-top: 3vh;
    padding-left: 3vh;
  }

  input {
    width: 47vw;
    line-height: 3vh;
  }
  
  .Submit, .secondModal > .close {
    width: 50vw;
    line-height: 3vh;
    align-items: center;
    justify-content: center;
  }
  
  .secondModal {
    width: 60vw;
    height: 50vh;
    background-color: white;
    border: 2px solid black;
  }
  
  .secondModal > .content {
    font-size: calc(5px + 2vmin);
    padding-top: 3vh;
    text-align: center;
    padding-bottom: 3vh;
  }

  .secondModal > .close {
    width: 100%;
  }  
  
  .Message {
    font-size: calc(3px + 2vmin);
  }  
}

@media only screen and (min-width: 768px) {
  .Body-text {
    font-size: 60px;
  }
  .Body-text-sub {
    font-size: 30px;
  }

  .App-footer {
    font-size: calc(1px + 2vmin);
  }
  
  .modal {
    width: 60vw;
    height: 70vh;
    background-color: white;
    border: 2px solid black;
  }
  .modal > .header, .secondModal > .header {
    width: 100%;
    font-size: calc(10px + 2vmin);
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .modal > .content {
    width: 100%;
    padding-top: 3vh;
    padding-left: 3vh;
  }
  
  input {
    width: 50vw;
    line-height: 3vh;
  }
  
  .Submit, .secondModal > .close {
    width: 52vw;
    line-height: 3vh;
    align-items: center;
    justify-content: center;
  }
  
  .secondModal {
    width: 60vw;
    height: 50vh;
    background-color: white;
    border: 2px solid black;
  }
  
  .secondModal > .content {
    font-size: calc(5px + 2vmin);
    padding-top: 3vh;
    text-align: center;
    padding-bottom: 3vh;
  }

  .secondModal > .close {
    width: 100%;
  }

  .Message {
    font-size: calc(1px + 2vmin);
  }  
}

@media only screen and (min-width: 992px) {
  .Body-text {
    font-size: 70px;
  }
  .Body-text-sub {
    font-size: 35px;
  }

  .App-footer {
    font-size: calc(2px + 2vmin);
  }
  
  .modal {
    width: 60vw;
    height: 70vh;
    background-color: white;
    border: 2px solid black;
  }
  .modal > .header, .secondModal > .header {
    width: 100%;
    font-size: calc(10px + 2vmin);
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .modal > .content {
    width: 100%;
    padding-top: 3vh;
    padding-left: 3vh;
  }
  
  input {
    width: 50vw;
    line-height: 3vh;
    font-size: 25px;
  }
  
  .Submit, .secondModal > .close {
    width: 52vw;
    line-height: 3vh;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  
  .secondModal {
    width: 60vw;
    height: 50vh;
    background-color: white;
    border: 2px solid black;
  }
  
  .secondModal > .content {
    font-size: calc(5px + 2vmin);
    padding-top: 3vh;
    text-align: center;
    padding-bottom: 3vh;
  }

  .secondModal > .close {
    width: 100%;
  }
  
  .Message {
    font-size: calc(1px + 2vmin);
  }  
}

@media only screen and (min-width: 1200px) {
  .Body-text {
    font-size: 80px;
  }
  
  .Body-text-sub {
    font-size: 40px;
  }

  .modal {
    width: 35rem;
    height: 40rem;
    background-color: white;
    border: 2px solid black;
  }
  .modal > .header, .secondModal > .header {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .modal > .content {
    width: 100%;
    padding-top: 20px;
    padding-left: 40px;
  }
  
  input {
    width: 80%;
    padding: 20px 10px;
    line-height: 28px;
  }
  
  .Submit, .secondModal > .close {
    width: 84%;
    padding: 20px 10px;
    line-height: 28px;
    align-items: center;
    justify-content: center;
  }
  
  .secondModal {
    width: 40rem;
    height: 30rem;
    background-color: white;
    border: 2px solid black;
  }
  
  .secondModal > .content {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 40px;
  }

  .secondModal > .close {
    width: 100%;
  }
  
  .Message {
    font-size: 15px;
  }
}